---
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tag-List
  order: 3
---

<section>
  <h1>Tags:</h1>

  <div class="taglist">
    {% for tag in collections.tagList %} {% set tagUrl %}/tags/{{
      tag | slug
    }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </div>
</section>
