<div class="postlist">
  {% for post in postslist | reverse %}
  <div class="card">
    <div class="card-cover">
      <img src="{{ post.data.image }}" alt="" class="card-img" />
    </div>
    <div class="card-content">
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{
        post.date | readableDate
      }}</time>
      <h2>
        <a href="{{ post.url | url }}" class="postlist-link"
          >{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{
            post.url
          }}</code
          >{% endif %}</a
        >
      </h2>
      <p class="desc">{{ post.data.description }}</p>
      <p>Tags:</p>
      {% for tag in post.data.tags | filterTagList %} {% set tagUrl %}/tags/{{
        tag | slug
      }}/{% endset %}

      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
