<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ metadata.title }}</title>
    <meta
      name="description"
      content="{{ description or metadata.description }}"
    />
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}" />
    <link
      rel="alternate"
      href="{{ metadata.feed.path | url }}"
      type="application/atom+xml"
      title="{{ metadata.title }}"
    />
    <link
      rel="alternate"
      href="{{ metadata.jsonfeed.path | url }}"
      type="application/json"
      title="{{ metadata.title }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/base16/dracula.min.css"
    />
  </head>
  <body>
    {% include 'components/header.njk' %}

    <main {% if templateClass %} class="{{ templateClass }}" {% endif %}>
      {{ content | safe }}
    </main>
    {% include 'components/footer.njk' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
    <script>
      commentBox("5084147009716224-proj", {
        backgroundColor: "#111213",
        textColor: "#f3f4f6",
        subtextColor: "#38bdf8",
      });
    </script>
  </body>
</html>
